@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(75, 6, 142);
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(75, 6, 206, 0.6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 6, 206);
}
